<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rover">
    

    <xacro:property name="wheel_radius" value="0.14"/>  <!-- (literówka, ale nie używasz) -->
    <xacro:property name="wheel_width" value="0.2"/>
    <xacro:property name="body_length" value="1.06"/>
    <xacro:property name="body_width" value="0.4"/>
    <xacro:property name="body_height" value="0.210"/>
    <xacro:property name="front_camera_length" value="1.0"/>
    <xacro:property name="front_camera_width" value="0.5"/>
    <xacro:property name="front_camera_height" value="0.3"/>
    <xacro:property name="middle_camera_length" value="1.0"/>
    <xacro:property name="middlecamera_width" value="0.5"/>
    <xacro:property name="middle_camera_height" value="0.3"/>
    <xacro:property name="swingarm_length" value="0.0"/>
    <xacro:property name="swingarm_width" value="0.0"/>
    <xacro:property name="swingarm_height" value="0.0"/>
    <xacro:property name="offset_to_rear_wheels_line" value="0.095810"/>
    <xacro:property name="offset_body_above_bottom_of_wheels" value="0.296152"/>
    <xacro:property name="wheel_spacing_from_middle" value="0.469475"/>
    <xacro:property name="distance_between_wheel_axis" value="0.8683"/>

    <xacro:include filename="$(find rover_description)/urdf/rover_include.urdf.xacro"/>
    <xacro:include filename="$(find rover_description)/urdf/rover_materials.urdf.xacro"/>


    <link name="base_link">
    </link>

    <link name="body_link">
        <visual>
            <geometry>
                <box size="${body_length} ${body_width} ${body_height}"/>
            </geometry>
            <origin xyz="0 0 ${body_height/2}" rpy="0 0 0"/>
            <material name="gray"/>
        </visual>
        <collision>
            <geometry>
                <box size="${body_length} ${body_width} ${body_height}"/>
            </geometry>
            <origin xyz="0 0 ${body_height/2}" rpy="0 0 0"/>
        </collision>
    </link>

    <joint name="body_joint" type="fixed">
        <parent link="base_link"/>
        <child link="body_link"/>
        <origin xyz="${body_length/2 - offset_to_rear_wheels_line} 0 ${offset_body_above_bottom_of_wheels}" rpy="0 0 0"/>
    </joint>

    <xacro:wheel
    name="wheel_back_left"
    parent="base_link"
    xyz="0 ${wheel_spacing_from_middle} ${wheel_radius}"
    rpy="0 0 ${pi/2}"
    radius="${wheel_radius}"
    width="${wheel_width}"
    />

    <xacro:wheel
    name="wheel_back_right"
    parent="base_link"
    xyz="0 ${-wheel_spacing_from_middle} ${wheel_radius}"
    rpy="0 0 ${pi/2}"
    radius="${wheel_radius}"
    width="${wheel_width}"
    />

    <xacro:wheel
    name="wheel_front_left"
    parent="base_link"
    xyz="${distance_between_wheel_axis} ${wheel_spacing_from_middle} ${wheel_radius}"
    rpy="0 0 ${pi/2}"
    radius="${wheel_radius}"
    width="${wheel_width}"
    />

    <xacro:wheel
    name="wheel_front_right"
    parent="base_link"
    xyz="${distance_between_wheel_axis} ${-wheel_spacing_from_middle} ${wheel_radius}"
    rpy="0 0 ${pi/2}"
    radius="${wheel_radius}"
    width="${wheel_width}"
    />
    


    <link name="front_camera_link">
        <visual>
            <geometry>
                <box size="0.1 0.1 0.1"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </visual>
    </link>

    <joint name="front_camera_joint" type="fixed">
        <parent link="base_link"/>
        <child link="front_camera_link"/>
        <origin xyz="0 0 ${body_height/2 + 0.1}" rpy="0 0 0"/>
    </joint>

    <link name="middle_camera_link">
        <visual>
            <geometry>
                <box size="0.1 0.1 0.1"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </visual>
    </link>

    <joint name="middle__camera_joint" type="fixed">
        <parent link="base_link"/>
        <child link="middle_camera_link"/>
        <origin xyz="0 0 ${body_height/2 + 0.1}" rpy="0 0 0"/>
    </joint>


</robot>
